@model AD.Controllers.AccountController.AccountModel

@{
    ViewData["Title"] = "AddUser";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form method="post" action="@Url.Action("AddUser", "Account")">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <input type="hidden" asp-for="UserAccountName.id" />
        
        <p>Данное действие добавит пользователя в AD</p>       
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
            @* <input type="cancel" value="Закрыть" class="btn btn-primary"/> *@
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>

      

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}