@model AD.Controllers.AccountController.AccountModel
@{
    ViewData["Title"] = "ResetPasswordAD";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form method="post" action="@Url.Action("ResetPasswordAD", "Account")">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserAccountName.id" />
        <div class="form-group">
            <label asp-for="UserAccountName.UserName" class="control-label">Имя пользователя</label>
            <input asp-for="UserAccountName.UserName" class="form-control" readonly />
            @* <span asp-validation-for="UserAccountName.UserName" class="text-danger"></span> *@
        </div>  
        <div class="form-group">
            <label asp-for="Value" class="control-label">Смена при следующем входе</label>
            <select asp-for="Value" class="form-control">
                <option value="true">Да</option>
                <option value="false">Нет</option>
            </select>
            @* <span asp-validation-for="Value" class="text-danger"></span> *@
        </div>
        <p></p>
        <div class="modal-footer">
            <input type="submit" value="Сбросить" class="btn btn-primary" />
            @* <input type="cancel" value="Закрыть" class="btn btn-primary"/> *@
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>    
    </form>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}